div.block-phptraffica{
word-wrap:break-word;
}
.phptraffica-seo-phrases  table{border-collapse:collapse;width:100%;margin-right:5px;}
.phptraffica-seo-phrases  td{border: solid 1px #CCCCCC;}
td.phptraffica-count{width:40px;}
.block td.phptraffica-count1{width:120px;overflow:hidden}
